/* Codi CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^='col-'] {
  flex: 0 0 auto;
}

/* Mobile First (Tots els dispositius, principalment smartphones, amb l'amplada menor de 576px)  */
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}

/* Small ≥576px (Dispositius petits, poden ser smartphones grans o tauletes en portrait majors de 576px i menors de 768px) */
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-5 {
    width: 41.666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-11 {
    width: 91.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium ≥768px (Dispositius mitjans, poden ser tablets en landscape o netbooks majors de 768px i menors de 992px) */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Large ≥992px (Dispositius grans, ordinadors portàtils o de sobretaula amb pantalles més grans de 992px i menors a 1200px) */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Extra Large ≥1200px (Dispositius molt grans, ordinadors portàtils i de sobretaula amb pantalles més grans de 1200) */
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/*=======================*/
/*EXAMEN*/
/*=======================*/

header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  backdrop-filter: blur(4px);
}
header h1 {
  color: #1abc9c;
  width: 50%;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 5%;
}

#hero {
  background-image: url(../img/hero.webp);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#hero-text {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

#hero-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 900; /* extra-negrita */
  margin: 0 0 10px 0;
}
#hero-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

#hero-text a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #71a9ff;
  color: #fff;
  font-weight: 600;
}
.menu-container {
  padding-right: 1rem;
  min-height: 50px;
  list-style: none;
  gap: 1rem;
  align-items: end;
  justify-content: space-between;
  text-decoration: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  justify-content: space-between;
  border: solid red 1px; /*no cal*/
  align-items: end;
}

header nav ul li a:hover {
  background-color: darkblue;
  outline: 2px solid #333;
}

/*primera part*/
main {
  background-color: #f7fafc;
}
section div {
  padding: 0.5rem;
}
section {
  justify-content: center;
  margin-bottom: 30px;
}
main section h2 {
  margin: 1rem 0;
  text-align: center;
  color: #1abc9c;
}
.text-mitj {
  text-align: center;
  color: #4a5568;
  margin-bottom: 20px;
}
div.apartats {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

section div {
  padding: 0.5rem;
}
.apartats {
  border: solid 2px #ffffff;
  padding: 0.5rem;
  border-radius: 20px;
}
.apartats img {
  width: 100%; /*q ocupi un 100%*/
  max-width: 250px; /*max imatge*/
}

.apartats p {
  text-align: center;
  color: #4a5568;
  padding-left: 50px;
  padding-right: 50px;
}
.apartats button {
  text-decoration: none;
  cursor: default;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1abc9c;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  border: solid 1px white;
}
/*segona part*/
#recuadre {
  border: solid 7px white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
}
#titolequip {
  text-align: center;
  font-size: 25px;
  font-weight: 700; /* extra-negrita */
  margin-top: 40px;
  margin-bottom: 10px;
}

.apartats2 {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border: solid 2px rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 20px;
  align-items: center;
}
.avatar1 {
  margin: 10px auto;
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 0;
}
.avatar2 {
  margin: 10px auto;
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #3498db;
  border: solid 2px #2980b9;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 0;
}
.avatar3 {
  margin: 10px auto;
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #e74c3c;
  border: solid 2px #c0392b;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 0;
}
.avatar4 {
  margin: 10px auto;
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #4a5568;
  border: solid 2px #1a202c;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 0;
}

.apartats2 h3 {
  text-align: center;
  color: #1abc9c;
}
.apartats2 p {
  text-align: center;
  margin-bottom: 15px;
}
/*peu de pàgina*/
footer {
  background-color: #1a202c;
  padding: 60px;
  text-align: center;
  margin: auto;
  color: white;
}
footer p {
  margin: 1.5rem;
  color: #4a5568;
}
